Repository mendix/widgets-tools, pull requests merged in 2022-12, with the labels that each got.

#18 [PAG-1976] Sync generator tool with newest api changes
  packages/generator-widget/CHANGELOG.md
  packages/generator-widget/generators/app/templates/pluggable/native/emptyTemplateJs/src/WidgetName.editorConfig.js.ejs
  packages/generator-widget/generators/app/templates/pluggable/native/emptyTemplateJsFn/src/WidgetName.editorConfig.js.ejs
  packages/generator-widget/generators/app/templates/pluggable/native/emptyTemplateTs/src/WidgetName.editorConfig.ts.ejs
  packages/generator-widget/generators/app/templates/pluggable/native/emptyTemplateTsFn/src/WidgetName.editorConfig.ts.ejs
  packages/generator-widget/generators/app/templates/pluggable/native/fullTemplateJs/src/WidgetName.editorConfig.js.ejs
  packages/generator-widget/generators/app/templates/pluggable/native/fullTemplateJsFn/src/WidgetName.editorConfig.js.ejs
  packages/generator-widget/generators/app/templates/pluggable/native/fullTemplateTs/src/WidgetName.editorConfig.ts.ejs
  packages/generator-widget/generators/app/templates/pluggable/native/fullTemplateTsFn/src/WidgetName.editorConfig.ts.ejs
  packages/generator-widget/generators/app/templates/pluggable/web/emptyTemplateJs/src/WidgetName.editorConfig.js.ejs
  packages/generator-widget/generators/app/templates/pluggable/web/emptyTemplateJsFn/src/WidgetName.editorConfig.js.ejs
  packages/generator-widget/generators/app/templates/pluggable/web/emptyTemplateTs/src/WidgetName.editorConfig.ts.ejs
  packages/generator-widget/generators/app/templates/pluggable/web/emptyTemplateTsFn/src/WidgetName.editorConfig.ts.ejs
  packages/generator-widget/generators/app/templates/pluggable/web/fullTemplateJs/src/WidgetName.editorConfig.js.ejs
  packages/generator-widget/generators/app/templates/pluggable/web/fullTemplateJsFn/src/WidgetName.editorConfig.js.ejs
  packages/generator-widget/generators/app/templates/pluggable/web/fullTemplateTs/src/WidgetName.editorConfig.ts.ejs
  packages/generator-widget/generators/app/templates/pluggable/web/fullTemplateTsFn/src/WidgetName.editorConfig.ts.ejs
Labels: generator-widget

#17 Update babel-jest config to prevent noisy warnings
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/test-config/transform.js
Labels: pluggable-widgets-tools

#20 [WTF-1321]: Bump version to 9.20.0 for pwt and gw
  packages/generator-widget/package.json
  packages/pluggable-widgets-tools/package.json
Labels: pluggable-widgets-tools, generator-widget

#21 Pluggable Widgets Tools v9.20.0: Update changelog
  packages/pluggable-widgets-tools/CHANGELOG.md
Labels: pluggable-widgets-tools

#22 Pluggable Widgets Generator v9.20.0: Update changelog
  packages/generator-widget/CHANGELOG.md
Labels: generator-widget
