Repository mendix/widgets-tools, pull requests merged in 2023-03, with the labels that each got.

#28 [WTF-1416]: Bump the mendix package version from 9.17 to 9.23
  packages/generator-widget/package-lock.json
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/package-lock.json
  packages/pluggable-widgets-tools/package.json
Labels: pluggable-widgets-tools, generator-widget

#29 Pluggable Widgets Tools v9.23.0: Update changelog
  packages/pluggable-widgets-tools/CHANGELOG.md
Labels: pluggable-widgets-tools

#31 [WTF-1432]: Missing dist folder in pwt 9.23.0
  package.json
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/package-lock.json
  packages/pluggable-widgets-tools/package.json
Labels: pluggable-widgets-tools

#32 Pluggable Widgets Tools v9.23.1: Update changelog
  packages/pluggable-widgets-tools/CHANGELOG.md
Labels: pluggable-widgets-tools

#33 [WTF-1433]: Change jest testEnvironment from node to jsdom on jest.native.config and jest.config.js
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/package-lock.json
  packages/pluggable-widgets-tools/package.json
  packages/pluggable-widgets-tools/test-config/jest.config.js
  packages/pluggable-widgets-tools/test-config/jest.native.config.js
Labels: pluggable-widgets-tools

#34 Pluggable Widgets Tools v9.23.2: Update changelog
  packages/pluggable-widgets-tools/CHANGELOG.md
Labels: pluggable-widgets-tools

#37 [MOO-897] React 18 and RN 0.70
  .github/workflows/TestPWTCommands.yml
  packages/generator-widget/CHANGELOG.md
  packages/generator-widget/generators/app/templates/packages/package_native.json.ejs
  packages/generator-widget/generators/app/templates/packages/package_web.json.ejs
  packages/generator-widget/package-lock.json
  packages/generator-widget/package.json
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/bin/mx-scripts.js
  packages/pluggable-widgets-tools/configs/hot-typescript.ts
  packages/pluggable-widgets-tools/configs/rollup.config.native.js
  packages/pluggable-widgets-tools/configs/tsconfig.base.json
  packages/pluggable-widgets-tools/package-lock.json
  packages/pluggable-widgets-tools/package.json
  packages/pluggable-widgets-tools/test-config/__mocks__/NativeIcon.js
  packages/pluggable-widgets-tools/test-config/__mocks__/NativeImage.js
  packages/pluggable-widgets-tools/test-config/__mocks__/hot.js
  packages/pluggable-widgets-tools/test-config/jest-svg-transformer.js
  packages/pluggable-widgets-tools/test-config/jest.config.js
  packages/pluggable-widgets-tools/test-config/jest.native.config.js
  packages/pluggable-widgets-tools/test-config/test-index-native.js
  packages/pluggable-widgets-tools/test-config/test-index.js
  packages/pluggable-widgets-tools/test-config/transform-native.js
  packages/pluggable-widgets-tools/test-config/transform.js
  tests/commands.js
Labels: pluggable-widgets-tools, generator-widget

#24 [PAG-2016] Add the DataSource caption property
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/association.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/datasource.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/expression.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/list-association.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/selection.ts
  packages/pluggable-widgets-tools/src/typings-generator/generatePreviewTypes.ts
Labels: pluggable-widgets-tools

#43 Pluggable Widgets Tools v9.24.0: Update changelog
  packages/pluggable-widgets-tools/CHANGELOG.md
Labels: pluggable-widgets-tools

#42 Pluggable Widgets Generator v9.24.0: Update changelog
  packages/generator-widget/CHANGELOG.md
Labels: generator-widget
