Repository mendix/widgets-tools, pull requests merged in 2023-06, with the labels that each got.

#49 [WTF-1522]: Include missing babel plugins, make-dir and mime to package.json
  packages/generator-widget/package.json
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/package-lock.json
  packages/pluggable-widgets-tools/package.json
  packages/pluggable-widgets-tools/test-config/assetsTransformer.js
  packages/pluggable-widgets-tools/test-config/jest-svg-transformer.js
  packages/pluggable-widgets-tools/test-config/jest.config.js
  packages/pluggable-widgets-tools/test-config/jest.native.config.js
  packages/pluggable-widgets-tools/test-config/test-index-native.js
  packages/pluggable-widgets-tools/test-config/test-index.js
Labels: pluggable-widgets-tools, generator-widget

#51 Pluggable Widgets Generator v9.24.2: Update changelog
  packages/generator-widget/CHANGELOG.md
Labels: generator-widget

#50 Pluggable Widgets Tools v9.24.1: Update changelog
  packages/pluggable-widgets-tools/CHANGELOG.md
Labels: pluggable-widgets-tools

#52 [WTF-1531]: Bump the mendix typings from v9.24.2965 to v10.0.9976
  packages/generator-widget/CHANGELOG.md
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-js-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-js.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-ts-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-ts.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-unit-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-unit-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts.json
  packages/generator-widget/generators/app/templates/packages/package_native.json.ejs
  packages/generator-widget/generators/app/templates/packages/package_web.json.ejs
  packages/generator-widget/package-lock.json
  packages/generator-widget/package.json
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/package-lock.json
  packages/pluggable-widgets-tools/package.json
Labels: pluggable-widgets-tools, generator-widget

#53 Pluggable Widgets Generator v10.0.0: Update changelog
  packages/generator-widget/CHANGELOG.md
Labels: generator-widget

#54 Pluggable Widgets Tools v10.0.0: Update changelog
  packages/pluggable-widgets-tools/CHANGELOG.md
Labels: pluggable-widgets-tools
