Repository mendix/widgets-tools, pull requests merged in 2024-09, with the labels that each got.

#102 [WTF-1986] Generate types for metadata attribute properties
  packages/generator-widget/CHANGELOG.md
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-js-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-js.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-ts-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-ts.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-unit-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-unit-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts.json
  packages/generator-widget/generators/app/templates/packages/package_native.json.ejs
  packages/generator-widget/generators/app/templates/packages/package_web.json.ejs
  packages/generator-widget/package-lock.json
  packages/generator-widget/package.json
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/package-lock.json
  packages/pluggable-widgets-tools/package.json
  packages/pluggable-widgets-tools/src/typings-generator/WidgetXml.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/index.spec.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/inputs/datasource.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/inputs/metadata-attribute.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/metadata-attribute.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/non-linked-list-attribute-refset.ts
  packages/pluggable-widgets-tools/src/typings-generator/generate.ts
  packages/pluggable-widgets-tools/src/typings-generator/generateClientTypes.ts
  packages/pluggable-widgets-tools/src/typings-generator/generatePreviewTypes.ts
Labels: pluggable-widgets-tools, generator-widget

#103 Bump generator version to match PWT version
  packages/generator-widget/package-lock.json
  packages/generator-widget/package.json
Labels: generator-widget

#104 Pluggable Widgets Tools v10.15.0: Update changelog
  packages/pluggable-widgets-tools/CHANGELOG.md
Labels: pluggable-widgets-tools

#105 Pluggable Widgets Generator v10.15.0: Update changelog
  packages/generator-widget/CHANGELOG.md
Labels: generator-widget
