Repository mendix/widgets-tools, pull requests merged in 2024-02, with the labels that each got.

#80 [WTF-1780]: module level directive warnings should not cause bundling to fail
  packages/generator-widget/CHANGELOG.md
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-js-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-js.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-ts-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-ts.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-unit-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-unit-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts.json
  packages/generator-widget/generators/app/templates/packages/package_native.json.ejs
  packages/generator-widget/generators/app/templates/packages/package_web.json.ejs
  packages/generator-widget/package-lock.json
  packages/generator-widget/package.json
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/configs/rollup.config.js
  packages/pluggable-widgets-tools/package-lock.json
  packages/pluggable-widgets-tools/package.json
Labels: pluggable-widgets-tools, generator-widget

#81 Pluggable Widgets Tools v10.7.1: Update changelog
  packages/pluggable-widgets-tools/CHANGELOG.md
Labels: pluggable-widgets-tools

#82 Pluggable Widgets Generator v10.7.1: Update changelog
  packages/generator-widget/CHANGELOG.md
Labels: generator-widget

#85 [WTF-1799]: move external dependencies to devDependencies
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/configs/rollup.config.js
  packages/pluggable-widgets-tools/configs/rollup.config.native.js
  packages/pluggable-widgets-tools/package-lock.json
  packages/pluggable-widgets-tools/package.json
Labels: pluggable-widgets-tools
