Repository mendix/widgets-tools, pull requests merged in 2024-07, with the labels that each got.

#94 Pluggable Widgets Tools v10.12.0: Update changelog
  packages/pluggable-widgets-tools/CHANGELOG.md
Labels: pluggable-widgets-tools

#96 [MOO-1514] Fix react-navigation in rollup config
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/configs/rollup.config.native.js
Labels: pluggable-widgets-tools

#97 [WTF-1922]: Fix react and @types/react package mismatch in PWT
  packages/generator-widget/CHANGELOG.md
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-js-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-js.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-ts-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-ts.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-unit-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-unit-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts.json
  packages/generator-widget/generators/app/templates/packages/package_native.json.ejs
  packages/generator-widget/generators/app/templates/packages/package_web.json.ejs
  packages/pluggable-widgets-tools/package-lock.json
Labels: pluggable-widgets-tools, generator-widget

#98 [PAG-2309] Add support for render modes on pluggable widgets
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/association.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/atribute-linked-action.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/containment.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/datasource.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/expression.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/file.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/icon.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/index.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/list-action.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/list-association.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/list-attribute-refset.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/list-files.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/list-image.ts
  packages/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/selection.ts
  packages/pluggable-widgets-tools/src/typings-generator/generatePreviewTypes.ts
Labels: pluggable-widgets-tools

#99 [WTF-1927] Bump pwt and generator versions
  packages/generator-widget/package.json
  packages/pluggable-widgets-tools/package.json
Labels: pluggable-widgets-tools, generator-widget

#100 Pluggable Widgets Generator v10.7.3: Update changelog
  packages/generator-widget/CHANGELOG.md
Labels: generator-widget

#101 Pluggable Widgets Tools v10.12.1: Update changelog
  packages/pluggable-widgets-tools/CHANGELOG.md
Labels: pluggable-widgets-tools
