Repository mendix/widgets-tools, pull requests merged in 2024-03, with the labels that each got.

#86 [WTF-1778]: Improve PWT migration script
  packages/generator-widget/CHANGELOG.md
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-js-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-js.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-ts-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_native.json-ts.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-unit-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-js.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-unit-e2e.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts-unit.json
  packages/generator-widget/generators/app/templates/packages/__tests__/outputs/package_web.json-ts.json
  packages/generator-widget/generators/app/templates/packages/package_native.json.ejs
  packages/generator-widget/generators/app/templates/packages/package_web.json.ejs
  packages/generator-widget/package-lock.json
  packages/generator-widget/package.json
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/package-lock.json
  packages/pluggable-widgets-tools/package.json
  packages/pluggable-widgets-tools/utils/migration.js
  tests/commands.js
Labels: pluggable-widgets-tools, generator-widget

#87 [WC-2383] Force close rollup process hanging
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/configs/rollup.config.js
Labels: pluggable-widgets-tools

#83 [WC-941]: Add enzyme free config for jest
  packages/pluggable-widgets-tools/CHANGELOG.md
  packages/pluggable-widgets-tools/test-config/jest.enzyme-free.config.js
  packages/pluggable-widgets-tools/test-config/test-index-no-enzyme.js
Labels: pluggable-widgets-tools

#89 [WTF-1778] Fix CHANGELOG.md
  packages/generator-widget/CHANGELOG.md
Labels: generator-widget

#90 Pluggable Widgets Generator v10.7.2: Update changelog
  packages/generator-widget/CHANGELOG.md
Labels: generator-widget
